= link_to users_doctors_path, class: 'text-center' do
  %i.fa-solid.fa-stethoscope.mt-3.white.fsr-2and5.p-1.borders
= link_to users_appointments_path, class: 'text-center' do
  %i.fa-solid.fa-receipt.mt-4.white.fsr-2and5.p-1.borders
